.MoneyInput {
    position: relative;
    white-space: nowrap;
}

.MoneyInput_Input {
    border: 1px solid #e3e3e3;
    padding: 4px 20px 4px 5px;
    font-size: 1.1em;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    color: var(--yc-color-text-primary);
    background-color: transparent;
}

.MoneyInput_Input::placeholder {
    color: var(--yc-color-text-hint);
}

.MoneyInput_Input {
    border: 1px solid var(--yc-color-line-generic);
}
.MoneyInput_Input:hover {
    border: 1px solid var(--yc-color-line-generic-hover);
}
.MoneyInput_Input:focus {
    border: 1px solid var(--yc-color-line-generic-active);
}

.MoneyInput_Decimal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    color: #aaa;
    line-height: 2.7em;
    width: 20px;
}
