.MoneyInput {
	position: relative;
	white-space: nowrap;
}

.MoneyInput_Input {
	border: 1px solid transparent;
	padding: 4px 22px 4px 6px;
	font-size: 1.05em;
	text-align: right;
	width: 100%;
	box-sizing: border-box;
	color: var(--g-color-text-primary);
	background-color: transparent;
	border-radius: 4px;
}

.MoneyInput_Input::placeholder {
	color: var(--g-color-text-hint);
}

.MoneyInput_Input:hover {
	border-color: var(--g-color-line-generic);
	background-color: var(--g-color-base-simple-hover);
}

.MoneyInput_Input:focus {
	border-color: var(--brand-accent);
	background-color: var(--g-color-base-background);
	box-shadow: 0 0 0 2px var(--brand-accent-light-border);
	outline: none;
}

.MoneyInput_Input_Active {
	border-color: var(--brand-accent) !important;
	background-color: var(--brand-accent-light) !important;
	font-weight: 600;
}

.MoneyInput_Input_Focused {
	padding-right: 6px !important;
}

.MoneyInput_Decimal {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 6px;
	font-size: 0.8em;
	color: var(--g-color-text-secondary);
	width: auto;
	pointer-events: none;
}
