.Config__Ratio_Input {
	flex-grow: 1;
	margin-right: 8px;
}

.Config__Ratio_Form {
	display: flex;
	align-items: center;
	width: 100%;
}

.Config__Ratio_Checkbox {
	display: block;
	padding: 4px 6px;
	border-radius: 4px;
	cursor: pointer;
}

.Config__Ratio_Checkbox:hover {
	background-color: var(--g-color-base-simple-hover);
}
