.Header {
	background: var(--yc-color-base-generic);
	padding: 10px 20px;
	border-bottom: 1px solid var(--yc-color-line-generic);
	line-height: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Header__Link {
	margin-right: 0.5em;
}

.Header__Right {
	line-height: var(--yc-text-display-2-line-height);
	display: flex;
    align-items: center;
}

.Header__H1 {
	margin: 0;
}
