.Flag {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.Flag:before {
    content: '\00a0';
}

.Flag-ac { background-image: url(flag-icons/flags/4x3/ac.svg); }
.Flag-ad { background-image: url(flag-icons/flags/4x3/ad.svg); }
.Flag-ae { background-image: url(flag-icons/flags/4x3/ae.svg); }
.Flag-af { background-image: url(flag-icons/flags/4x3/af.svg); }
.Flag-ag { background-image: url(flag-icons/flags/4x3/ag.svg); }
.Flag-ai { background-image: url(flag-icons/flags/4x3/ai.svg); }
.Flag-al { background-image: url(flag-icons/flags/4x3/al.svg); }
.Flag-am { background-image: url(flag-icons/flags/4x3/am.svg); }
.Flag-ao { background-image: url(flag-icons/flags/4x3/ao.svg); }
.Flag-aq { background-image: url(flag-icons/flags/4x3/aq.svg); }
.Flag-ar { background-image: url(flag-icons/flags/4x3/ar.svg); }
.Flag-as { background-image: url(flag-icons/flags/4x3/as.svg); }
.Flag-at { background-image: url(flag-icons/flags/4x3/at.svg); }
.Flag-au { background-image: url(flag-icons/flags/4x3/au.svg); }
.Flag-aw { background-image: url(flag-icons/flags/4x3/aw.svg); }
.Flag-ax { background-image: url(flag-icons/flags/4x3/ax.svg); }
.Flag-az { background-image: url(flag-icons/flags/4x3/az.svg); }
.Flag-ba { background-image: url(flag-icons/flags/4x3/ba.svg); }
.Flag-bb { background-image: url(flag-icons/flags/4x3/bb.svg); }
.Flag-bd { background-image: url(flag-icons/flags/4x3/bd.svg); }
.Flag-be { background-image: url(flag-icons/flags/4x3/be.svg); }
.Flag-bf { background-image: url(flag-icons/flags/4x3/bf.svg); }
.Flag-bg { background-image: url(flag-icons/flags/4x3/bg.svg); }
.Flag-bh { background-image: url(flag-icons/flags/4x3/bh.svg); }
.Flag-bi { background-image: url(flag-icons/flags/4x3/bi.svg); }
.Flag-bj { background-image: url(flag-icons/flags/4x3/bj.svg); }
.Flag-bl { background-image: url(flag-icons/flags/4x3/bl.svg); }
.Flag-bm { background-image: url(flag-icons/flags/4x3/bm.svg); }
.Flag-bn { background-image: url(flag-icons/flags/4x3/bn.svg); }
.Flag-bo { background-image: url(flag-icons/flags/4x3/bo.svg); }
.Flag-bq { background-image: url(flag-icons/flags/4x3/bq.svg); }
.Flag-br { background-image: url(flag-icons/flags/4x3/br.svg); }
.Flag-bs { background-image: url(flag-icons/flags/4x3/bs.svg); }
.Flag-bt { background-image: url(flag-icons/flags/4x3/bt.svg); }
.Flag-bv { background-image: url(flag-icons/flags/4x3/bv.svg); }
.Flag-bw { background-image: url(flag-icons/flags/4x3/bw.svg); }
.Flag-by { background-image: url(flag-icons/flags/4x3/by.svg); }
.Flag-bz { background-image: url(flag-icons/flags/4x3/bz.svg); }
.Flag-ca { background-image: url(flag-icons/flags/4x3/ca.svg); }
.Flag-cc { background-image: url(flag-icons/flags/4x3/cc.svg); }
.Flag-cd { background-image: url(flag-icons/flags/4x3/cd.svg); }
.Flag-cf { background-image: url(flag-icons/flags/4x3/cf.svg); }
.Flag-cg { background-image: url(flag-icons/flags/4x3/cg.svg); }
.Flag-ch { background-image: url(flag-icons/flags/4x3/ch.svg); }
.Flag-ci { background-image: url(flag-icons/flags/4x3/ci.svg); }
.Flag-ck { background-image: url(flag-icons/flags/4x3/ck.svg); }
.Flag-cl { background-image: url(flag-icons/flags/4x3/cl.svg); }
.Flag-cm { background-image: url(flag-icons/flags/4x3/cm.svg); }
.Flag-cn { background-image: url(flag-icons/flags/4x3/cn.svg); }
.Flag-co { background-image: url(flag-icons/flags/4x3/co.svg); }
.Flag-cp { background-image: url(flag-icons/flags/4x3/cp.svg); }
.Flag-cr { background-image: url(flag-icons/flags/4x3/cr.svg); }
.Flag-cu { background-image: url(flag-icons/flags/4x3/cu.svg); }
.Flag-cv { background-image: url(flag-icons/flags/4x3/cv.svg); }
.Flag-cw { background-image: url(flag-icons/flags/4x3/cw.svg); }
.Flag-cx { background-image: url(flag-icons/flags/4x3/cx.svg); }
.Flag-cy { background-image: url(flag-icons/flags/4x3/cy.svg); }
.Flag-cz { background-image: url(flag-icons/flags/4x3/cz.svg); }
.Flag-de { background-image: url(flag-icons/flags/4x3/de.svg); }
.Flag-dg { background-image: url(flag-icons/flags/4x3/dg.svg); }
.Flag-dj { background-image: url(flag-icons/flags/4x3/dj.svg); }
.Flag-dk { background-image: url(flag-icons/flags/4x3/dk.svg); }
.Flag-dm { background-image: url(flag-icons/flags/4x3/dm.svg); }
.Flag-do { background-image: url(flag-icons/flags/4x3/do.svg); }
.Flag-dz { background-image: url(flag-icons/flags/4x3/dz.svg); }
.Flag-ea { background-image: url(flag-icons/flags/4x3/ea.svg); }
.Flag-ec { background-image: url(flag-icons/flags/4x3/ec.svg); }
.Flag-ee { background-image: url(flag-icons/flags/4x3/ee.svg); }
.Flag-eg { background-image: url(flag-icons/flags/4x3/eg.svg); }
.Flag-eh { background-image: url(flag-icons/flags/4x3/eh.svg); }
.Flag-er { background-image: url(flag-icons/flags/4x3/er.svg); }
.Flag-es { background-image: url(flag-icons/flags/4x3/es.svg); }
.Flag-es { background-image: url(flag-icons/flags/4x3/es.svg); }
.Flag-es { background-image: url(flag-icons/flags/4x3/es.svg); }
.Flag-et { background-image: url(flag-icons/flags/4x3/et.svg); }
.Flag-eu { background-image: url(flag-icons/flags/4x3/eu.svg); }
.Flag-fi { background-image: url(flag-icons/flags/4x3/fi.svg); }
.Flag-fj { background-image: url(flag-icons/flags/4x3/fj.svg); }
.Flag-fk { background-image: url(flag-icons/flags/4x3/fk.svg); }
.Flag-fm { background-image: url(flag-icons/flags/4x3/fm.svg); }
.Flag-fo { background-image: url(flag-icons/flags/4x3/fo.svg); }
.Flag-fr { background-image: url(flag-icons/flags/4x3/fr.svg); }
.Flag-ga { background-image: url(flag-icons/flags/4x3/ga.svg); }
.Flag-gb { background-image: url(flag-icons/flags/4x3/gb.svg); }
.Flag-gb { background-image: url(flag-icons/flags/4x3/gb.svg); }
.Flag-gb { background-image: url(flag-icons/flags/4x3/gb.svg); }
.Flag-gb { background-image: url(flag-icons/flags/4x3/gb.svg); }
.Flag-gb { background-image: url(flag-icons/flags/4x3/gb.svg); }
.Flag-gd { background-image: url(flag-icons/flags/4x3/gd.svg); }
.Flag-ge { background-image: url(flag-icons/flags/4x3/ge.svg); }
.Flag-gf { background-image: url(flag-icons/flags/4x3/gf.svg); }
.Flag-gg { background-image: url(flag-icons/flags/4x3/gg.svg); }
.Flag-gh { background-image: url(flag-icons/flags/4x3/gh.svg); }
.Flag-gi { background-image: url(flag-icons/flags/4x3/gi.svg); }
.Flag-gl { background-image: url(flag-icons/flags/4x3/gl.svg); }
.Flag-gm { background-image: url(flag-icons/flags/4x3/gm.svg); }
.Flag-gn { background-image: url(flag-icons/flags/4x3/gn.svg); }
.Flag-gp { background-image: url(flag-icons/flags/4x3/gp.svg); }
.Flag-gq { background-image: url(flag-icons/flags/4x3/gq.svg); }
.Flag-gr { background-image: url(flag-icons/flags/4x3/gr.svg); }
.Flag-gs { background-image: url(flag-icons/flags/4x3/gs.svg); }
.Flag-gt { background-image: url(flag-icons/flags/4x3/gt.svg); }
.Flag-gu { background-image: url(flag-icons/flags/4x3/gu.svg); }
.Flag-gw { background-image: url(flag-icons/flags/4x3/gw.svg); }
.Flag-gy { background-image: url(flag-icons/flags/4x3/gy.svg); }
.Flag-hk { background-image: url(flag-icons/flags/4x3/hk.svg); }
.Flag-hm { background-image: url(flag-icons/flags/4x3/hm.svg); }
.Flag-hn { background-image: url(flag-icons/flags/4x3/hn.svg); }
.Flag-hr { background-image: url(flag-icons/flags/4x3/hr.svg); }
.Flag-ht { background-image: url(flag-icons/flags/4x3/ht.svg); }
.Flag-hu { background-image: url(flag-icons/flags/4x3/hu.svg); }
.Flag-ic { background-image: url(flag-icons/flags/4x3/ic.svg); }
.Flag-id { background-image: url(flag-icons/flags/4x3/id.svg); }
.Flag-ie { background-image: url(flag-icons/flags/4x3/ie.svg); }
.Flag-il { background-image: url(flag-icons/flags/4x3/il.svg); }
.Flag-im { background-image: url(flag-icons/flags/4x3/im.svg); }
.Flag-in { background-image: url(flag-icons/flags/4x3/in.svg); }
.Flag-io { background-image: url(flag-icons/flags/4x3/io.svg); }
.Flag-iq { background-image: url(flag-icons/flags/4x3/iq.svg); }
.Flag-ir { background-image: url(flag-icons/flags/4x3/ir.svg); }
.Flag-is { background-image: url(flag-icons/flags/4x3/is.svg); }
.Flag-it { background-image: url(flag-icons/flags/4x3/it.svg); }
.Flag-je { background-image: url(flag-icons/flags/4x3/je.svg); }
.Flag-jm { background-image: url(flag-icons/flags/4x3/jm.svg); }
.Flag-jo { background-image: url(flag-icons/flags/4x3/jo.svg); }
.Flag-jp { background-image: url(flag-icons/flags/4x3/jp.svg); }
.Flag-ke { background-image: url(flag-icons/flags/4x3/ke.svg); }
.Flag-kg { background-image: url(flag-icons/flags/4x3/kg.svg); }
.Flag-kh { background-image: url(flag-icons/flags/4x3/kh.svg); }
.Flag-ki { background-image: url(flag-icons/flags/4x3/ki.svg); }
.Flag-km { background-image: url(flag-icons/flags/4x3/km.svg); }
.Flag-kn { background-image: url(flag-icons/flags/4x3/kn.svg); }
.Flag-kp { background-image: url(flag-icons/flags/4x3/kp.svg); }
.Flag-kr { background-image: url(flag-icons/flags/4x3/kr.svg); }
.Flag-kw { background-image: url(flag-icons/flags/4x3/kw.svg); }
.Flag-ky { background-image: url(flag-icons/flags/4x3/ky.svg); }
.Flag-kz { background-image: url(flag-icons/flags/4x3/kz.svg); }
.Flag-la { background-image: url(flag-icons/flags/4x3/la.svg); }
.Flag-lb { background-image: url(flag-icons/flags/4x3/lb.svg); }
.Flag-lc { background-image: url(flag-icons/flags/4x3/lc.svg); }
.Flag-li { background-image: url(flag-icons/flags/4x3/li.svg); }
.Flag-lk { background-image: url(flag-icons/flags/4x3/lk.svg); }
.Flag-lr { background-image: url(flag-icons/flags/4x3/lr.svg); }
.Flag-ls { background-image: url(flag-icons/flags/4x3/ls.svg); }
.Flag-lt { background-image: url(flag-icons/flags/4x3/lt.svg); }
.Flag-lu { background-image: url(flag-icons/flags/4x3/lu.svg); }
.Flag-lv { background-image: url(flag-icons/flags/4x3/lv.svg); }
.Flag-ly { background-image: url(flag-icons/flags/4x3/ly.svg); }
.Flag-ma { background-image: url(flag-icons/flags/4x3/ma.svg); }
.Flag-mc { background-image: url(flag-icons/flags/4x3/mc.svg); }
.Flag-md { background-image: url(flag-icons/flags/4x3/md.svg); }
.Flag-me { background-image: url(flag-icons/flags/4x3/me.svg); }
.Flag-mf { background-image: url(flag-icons/flags/4x3/mf.svg); }
.Flag-mg { background-image: url(flag-icons/flags/4x3/mg.svg); }
.Flag-mh { background-image: url(flag-icons/flags/4x3/mh.svg); }
.Flag-mk { background-image: url(flag-icons/flags/4x3/mk.svg); }
.Flag-ml { background-image: url(flag-icons/flags/4x3/ml.svg); }
.Flag-mm { background-image: url(flag-icons/flags/4x3/mm.svg); }
.Flag-mn { background-image: url(flag-icons/flags/4x3/mn.svg); }
.Flag-mo { background-image: url(flag-icons/flags/4x3/mo.svg); }
.Flag-mp { background-image: url(flag-icons/flags/4x3/mp.svg); }
.Flag-mq { background-image: url(flag-icons/flags/4x3/mq.svg); }
.Flag-mr { background-image: url(flag-icons/flags/4x3/mr.svg); }
.Flag-ms { background-image: url(flag-icons/flags/4x3/ms.svg); }
.Flag-mt { background-image: url(flag-icons/flags/4x3/mt.svg); }
.Flag-mu { background-image: url(flag-icons/flags/4x3/mu.svg); }
.Flag-mv { background-image: url(flag-icons/flags/4x3/mv.svg); }
.Flag-mw { background-image: url(flag-icons/flags/4x3/mw.svg); }
.Flag-mx { background-image: url(flag-icons/flags/4x3/mx.svg); }
.Flag-my { background-image: url(flag-icons/flags/4x3/my.svg); }
.Flag-mz { background-image: url(flag-icons/flags/4x3/mz.svg); }
.Flag-na { background-image: url(flag-icons/flags/4x3/na.svg); }
.Flag-nc { background-image: url(flag-icons/flags/4x3/nc.svg); }
.Flag-ne { background-image: url(flag-icons/flags/4x3/ne.svg); }
.Flag-nf { background-image: url(flag-icons/flags/4x3/nf.svg); }
.Flag-ng { background-image: url(flag-icons/flags/4x3/ng.svg); }
.Flag-ni { background-image: url(flag-icons/flags/4x3/ni.svg); }
.Flag-nl { background-image: url(flag-icons/flags/4x3/nl.svg); }
.Flag-no { background-image: url(flag-icons/flags/4x3/no.svg); }
.Flag-np { background-image: url(flag-icons/flags/4x3/np.svg); }
.Flag-nr { background-image: url(flag-icons/flags/4x3/nr.svg); }
.Flag-nu { background-image: url(flag-icons/flags/4x3/nu.svg); }
.Flag-nz { background-image: url(flag-icons/flags/4x3/nz.svg); }
.Flag-om { background-image: url(flag-icons/flags/4x3/om.svg); }
.Flag-pa { background-image: url(flag-icons/flags/4x3/pa.svg); }
.Flag-pe { background-image: url(flag-icons/flags/4x3/pe.svg); }
.Flag-pf { background-image: url(flag-icons/flags/4x3/pf.svg); }
.Flag-pg { background-image: url(flag-icons/flags/4x3/pg.svg); }
.Flag-ph { background-image: url(flag-icons/flags/4x3/ph.svg); }
.Flag-pk { background-image: url(flag-icons/flags/4x3/pk.svg); }
.Flag-pl { background-image: url(flag-icons/flags/4x3/pl.svg); }
.Flag-pm { background-image: url(flag-icons/flags/4x3/pm.svg); }
.Flag-pn { background-image: url(flag-icons/flags/4x3/pn.svg); }
.Flag-pr { background-image: url(flag-icons/flags/4x3/pr.svg); }
.Flag-ps { background-image: url(flag-icons/flags/4x3/ps.svg); }
.Flag-pt { background-image: url(flag-icons/flags/4x3/pt.svg); }
.Flag-pw { background-image: url(flag-icons/flags/4x3/pw.svg); }
.Flag-py { background-image: url(flag-icons/flags/4x3/py.svg); }
.Flag-qa { background-image: url(flag-icons/flags/4x3/qa.svg); }
.Flag-re { background-image: url(flag-icons/flags/4x3/re.svg); }
.Flag-ro { background-image: url(flag-icons/flags/4x3/ro.svg); }
.Flag-rs { background-image: url(flag-icons/flags/4x3/rs.svg); }
.Flag-ru { background-image: url(flag-icons/flags/4x3/ru.svg); }
.Flag-rw { background-image: url(flag-icons/flags/4x3/rw.svg); }
.Flag-sa { background-image: url(flag-icons/flags/4x3/sa.svg); }
.Flag-sb { background-image: url(flag-icons/flags/4x3/sb.svg); }
.Flag-sc { background-image: url(flag-icons/flags/4x3/sc.svg); }
.Flag-sd { background-image: url(flag-icons/flags/4x3/sd.svg); }
.Flag-se { background-image: url(flag-icons/flags/4x3/se.svg); }
.Flag-sg { background-image: url(flag-icons/flags/4x3/sg.svg); }
.Flag-sh { background-image: url(flag-icons/flags/4x3/sh.svg); }
.Flag-si { background-image: url(flag-icons/flags/4x3/si.svg); }
.Flag-sj { background-image: url(flag-icons/flags/4x3/sj.svg); }
.Flag-sk { background-image: url(flag-icons/flags/4x3/sk.svg); }
.Flag-sl { background-image: url(flag-icons/flags/4x3/sl.svg); }
.Flag-sm { background-image: url(flag-icons/flags/4x3/sm.svg); }
.Flag-sn { background-image: url(flag-icons/flags/4x3/sn.svg); }
.Flag-so { background-image: url(flag-icons/flags/4x3/so.svg); }
.Flag-sr { background-image: url(flag-icons/flags/4x3/sr.svg); }
.Flag-ss { background-image: url(flag-icons/flags/4x3/ss.svg); }
.Flag-st { background-image: url(flag-icons/flags/4x3/st.svg); }
.Flag-sv { background-image: url(flag-icons/flags/4x3/sv.svg); }
.Flag-sx { background-image: url(flag-icons/flags/4x3/sx.svg); }
.Flag-sy { background-image: url(flag-icons/flags/4x3/sy.svg); }
.Flag-sz { background-image: url(flag-icons/flags/4x3/sz.svg); }
.Flag-ta { background-image: url(flag-icons/flags/4x3/ta.svg); }
.Flag-tc { background-image: url(flag-icons/flags/4x3/tc.svg); }
.Flag-td { background-image: url(flag-icons/flags/4x3/td.svg); }
.Flag-tf { background-image: url(flag-icons/flags/4x3/tf.svg); }
.Flag-tg { background-image: url(flag-icons/flags/4x3/tg.svg); }
.Flag-th { background-image: url(flag-icons/flags/4x3/th.svg); }
.Flag-tj { background-image: url(flag-icons/flags/4x3/tj.svg); }
.Flag-tk { background-image: url(flag-icons/flags/4x3/tk.svg); }
.Flag-tl { background-image: url(flag-icons/flags/4x3/tl.svg); }
.Flag-tm { background-image: url(flag-icons/flags/4x3/tm.svg); }
.Flag-tn { background-image: url(flag-icons/flags/4x3/tn.svg); }
.Flag-to { background-image: url(flag-icons/flags/4x3/to.svg); }
.Flag-tr { background-image: url(flag-icons/flags/4x3/tr.svg); }
.Flag-tt { background-image: url(flag-icons/flags/4x3/tt.svg); }
.Flag-tv { background-image: url(flag-icons/flags/4x3/tv.svg); }
.Flag-tw { background-image: url(flag-icons/flags/4x3/tw.svg); }
.Flag-tz { background-image: url(flag-icons/flags/4x3/tz.svg); }
.Flag-ua { background-image: url(flag-icons/flags/4x3/ua.svg); }
.Flag-ug { background-image: url(flag-icons/flags/4x3/ug.svg); }
.Flag-um { background-image: url(flag-icons/flags/4x3/um.svg); }
.Flag-un { background-image: url(flag-icons/flags/4x3/un.svg); }
.Flag-us { background-image: url(flag-icons/flags/4x3/us.svg); }
.Flag-uy { background-image: url(flag-icons/flags/4x3/uy.svg); }
.Flag-uz { background-image: url(flag-icons/flags/4x3/uz.svg); }
.Flag-va { background-image: url(flag-icons/flags/4x3/va.svg); }
.Flag-vc { background-image: url(flag-icons/flags/4x3/vc.svg); }
.Flag-ve { background-image: url(flag-icons/flags/4x3/ve.svg); }
.Flag-vg { background-image: url(flag-icons/flags/4x3/vg.svg); }
.Flag-vi { background-image: url(flag-icons/flags/4x3/vi.svg); }
.Flag-vn { background-image: url(flag-icons/flags/4x3/vn.svg); }
.Flag-vu { background-image: url(flag-icons/flags/4x3/vu.svg); }
.Flag-wf { background-image: url(flag-icons/flags/4x3/wf.svg); }
.Flag-ws { background-image: url(flag-icons/flags/4x3/ws.svg); }
.Flag-xk { background-image: url(flag-icons/flags/4x3/xk.svg); }
.Flag-xx { background-image: url(flag-icons/flags/4x3/xx.svg); }
.Flag-ye { background-image: url(flag-icons/flags/4x3/ye.svg); }
.Flag-yt { background-image: url(flag-icons/flags/4x3/yt.svg); }
.Flag-za { background-image: url(flag-icons/flags/4x3/za.svg); }
.Flag-zm { background-image: url(flag-icons/flags/4x3/zm.svg); }
.Flag-zw { background-image: url(flag-icons/flags/4x3/zw.svg); }
