.Table td, .Table th {
    padding: 3px 0;
}

.Table {
    width: 100%;
    margin-bottom: 1em;
}

.Table__Currency {
    width: 60px;
    padding-right: 5px !important;
    padding-left: 0 !important;
    white-space: nowrap;
}

.Table__Currency_Flag {
    padding-right: 5px;
}

.Table__Skeleton {
    height: calc(1.1em + 8px);
}
